<form id="card-generator-form">
  <label for="character-select">Character:</label>
  <select id="character-select">
    <!-- Options will be populated with JavaScript -->
  </select>

  <button type="submit">Generate Card</button>
</form>

<section class="cards-container">

</section>


