<div class="card-wrapper">
    <h3>Kafka</h3>
    <div class="card">
      <div class="img-container five-star">
        <img src="https://www.prydwen.gg/static/5eaaf9ec3518805762b5f5a69091d86c/60b4d/7_sm.webp" alt="">
        <div class="eidolon">E0</div>
        <div class="signature">S5</div>
      </div>
      <div class="info-container lightning">
        <div>
          <img src="https://www.prydwen.gg/static/49b0ed360bfe2e9828193aa0382510ba/4e704/ele_lightning.webp" alt="">
          <img src="https://www.prydwen.gg/static/8b37fbbffe64e07dda4cb4d73cfabb19/4e704/path_nihility.webp" alt="">
        </div>
        <div class="info">
          <div>
            <img src="https://www.prydwen.gg/static/ec87ab1e704b5764f83cd05d8442c8b0/dbb7e/stat_hp.webp" alt="">
            <p>3519</p>
          </div>
          <div>
            <img src="https://www.prydwen.gg/static/dec7daebd67d260a6cca41705c4615fd/dbb7e/stat_atk.webp" alt="">
            <p>3308</p>
          </div>
          <div>
            <img src="https://www.prydwen.gg/static/8a35e542007321efb5401e62acff95be/dbb7e/stat_effecthit.webp" alt="">
            <p>29.2%</p>
          </div>
          <div>
            <img src="https://www.prydwen.gg/static/430a8e7c292cef8e2f572b147a171ddd/dbb7e/stat_speed.webp" alt="">
            <p>135</p>
          </div>
        </div>
      </div>
      <div class="relic-light-cone-container">
        <div>
          <img src="https://www.prydwen.gg/static/9ebad5536a051059f9545793489a8376/d8057/prison.webp" alt="">
        </div>
        <div>
          <img src="https://www.prydwen.gg/static/9ebad5536a051059f9545793489a8376/d8057/prison.webp" alt="">
        </div>
        <div>
          <img src="https://www.prydwen.gg/static/49e01383ee891e54e310cab9f266ae97/6766a/15_sm.webp" alt="">
        </div>
        <div>
          <img src="https://www.prydwen.gg/static/22c63c0e24d04a2e4a7a1bbdf28cafd6/d8057/firm.webp" alt="">
        </div>
      </div>
    </div>
  </div>