---
import MainLayout from "../layouts/MainLayout.astro";

import Main from "../components/Main.astro";
import "../css/card-generator.css";
---

<MainLayout title="My title goes here">
	<main>
		<Main/>
	</main>
</MainLayout>

<script>
	import "../scripts/card-generator.js";
	import "../scripts/title-to-header.js";
</script>