---
import MainLayout from "../layouts/MainLayout.astro";

import Main from "../components/Main.astro";
---

<MainLayout title="My title goes here">
	<main>
		<Main/>
	</main>
</MainLayout>

<script>
	import "./../scripts/cardgenerator.js";
</script>