---
import MainLayout from "../layouts/MainLayout.astro";

import Main from "../components/Main.astro";
import "../css/cardGenerator.css";
---

<MainLayout title="My title goes here">
	<main>
		<Main/>
	</main>
</MainLayout>

<script>
	import "../scripts/cardGenerator.js";
	import "../scripts/titleToHeaders.js";
</script>