:root {
    --white: 0 0% 100%;
    --important: 0 70% 70%;
    --main-dark: 0 0% 8%;
}

.cards-wrapper {
  display: flex;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card > * {
  max-width: 110px;
  margin-inline: auto;
}

.card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
  margin: 0;
  margin-block-end: .5rem !important;
  overflow: hidden;
}

.card > :not(:last-child) {
  margin-block-end: .25rem;
}